* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}

.header {
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}

.container {
    min-height: 90vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1,
.div2 {
    min-height: 70vh;
    min-width: 50vw;
}

.div2 {
    /* background: url(46929.jpg); */
    background-size: cover;
    border-left: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div2>img {
    width: 80%;
}

.div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    overflow-x: hidden;
}

.div1_child1,
.div1_child2,
.div1_child3,
.div1_child4 {

    height: 60px;
    width: 400px;
    border-radius: 1rem;
    border: 3px solid black;
    position: relative;
    z-index: initial;
    padding-left: 10px;
}

.div1_child4 {
    color: #fff;
    outline: none;
    border: none;
    font-size: 30px;
    font-weight: 900;
    background-image: linear-gradient(50deg, #00C0FD, #9CC3C6);
    font-family: Poppins;
}

.div1_child1_1>p,
.div1_child2_2>p,
.div1_child3_3>p,
.div1_child4_3>p{
    font-family: Inter;
    font-size: 20px;
    margin: 10px;
}

.div1_child5 {
    font-family: Inter;
    font-size: 22px;
}

.div1_child5 > a {
    text-decoration: none;
    color: #000;
}
.div1_child5 > a:hover , {
    text-decoration: underline blue;
}

.div1>h3 {
    font-family: Poppins;
    font-size: 35px;
    translate: -80px 50px;
}

.pera_2 {
    padding-top: 20px;
    font-family: Inter;
    font-weight: 500;
}

.header>p {
    font-size: 30px;
    font-weight: bold;
    margin-left: 52px;
    margin-top: 20px;
    font-family: Inter;
    /* background-size: 100%;
     background-image: linear-gradient(43deg, red , yellow);
     background-clip: text;
     text-fill-color: transparent; */

    /* Fallback: Set a background color. */
    background-color: red;

    /* Create the gradient. */
    background-image: linear-gradient(45deg, #EF05D8, #00A0FA);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    /*??*/
    -webkit-text-fill-color: transparent;
    /*??*/
    -moz-background-clip: text;
    /*??*/
    -moz-text-fill-color: transparent;
    /*??*/
}

.language {
    width: 113px;
    height: 50px;
    margin: 20px 60px 0 0;
    border-radius: 1rem;
    background-image: linear-gradient(48deg, #FB0AFB, #DCBCDC);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: inherit;
}

.language>img {
    height: 30px;
    /* image-rendering: pixelated; */
}

::-webkit-scrollbar {
    width: 0;
}

.div1_child1_1>input,
.div1_child1_2>input,
.div1_child1_3>input {
    /* transition: transform 9ms ease-in-out; */
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    /* transition: all .2s ease-out */
}

.div1_child1_1>input:focus,
.div1_child2_2>input:focus,
.div1_child3_3>input:focus {
    transform: scale(1.1);
    transition: 0.2s;
}

.some_links {
    width: 100%;
    /* background-color: #FB0AFB; */
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
   font-family: Inter;
   font-size: 15px;
   margin-top: 30px;
}
.some_links > p > a {
    text-decoration: none;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
}
.link1:nth-child(2){
    margin-left: 30px;
}
.link2{
font-size: 20px;
margin-right: 20px;

}
